body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #dc6d8d;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

#steps {
    flex: 1;
    padding: 20px;
}

#image {
    flex: 1;
}

img {
    max-width: 50%;
    height: 300px;
}

h1, h2 {
    color: #333;
}

ol {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

.step:hover {
    color: blue; /* Change the color on hover */
}


